<ion-tabs>
  <ion-tab-bar slot="bottom">
      
    <ion-tab-button tab="cuenta">
      <ion-icon name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

        <ion-tab-button tab="inventario">
    <ion-icon name="shirt-sharp"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

        <ion-tab-button tab="evento">
      <ion-icon name="bag-handle-sharp"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="historial-ventas">
      <ion-icon name="document-text-sharp"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
