
ion-tab-bar {
--background: #872bc4; 
--border-top: none; 

}

ion-tab-button {
--color: #d1d1d1; // Un gris claro para el texto y los iconos inactivos
--color-selected: #ffffff; // Blanco puro para el texto y los iconos activos

}