@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

//ordenar el tamaño de las casillas
.mat-mdc-form-field { 
width: 40%; 
box-sizing: border-box; 
}

.toolbar{
--background: rgb(240, 158, 64); 
}

.mi-boton-personalizado {
    --background: rgb(103, 56, 165); 
    color: white; 
    font-family: "Walter Turncoat", cursive;
    text-align: center; 
    font-size: 1em; 
    margin-top: 20px;
    font-size: 1.2em;

}

.input-prod{
padding: 30px;
}

.titulo{
    color: rgb(255, 255, 255); 
    font-size: 1.7em; 
}

.titulo-prod{
    color:rgb(103, 56, 165); 
    font-family: "Walter Turncoat", cursive; 
    font-size: 2.5em;
    text-align: center; 
}
.titulo-invent{
    color:rgb(219, 108, 34); 
    font-family: "Walter Turncoat", cursive; 
    font-size: 2em;

}
.button-delete{
    color:rgb(219, 108, 34); 
    font-size: 2.5em; 

}
.name-prod{
color:rgb(172, 92, 27); 
    font-size: 1.3em; 
    font-family: "Walter Turncoat", cursive;

}

ion-content{
--background: url('../../assets/imag/FONDOPOP.jpg') no-repeat center center / cover ;
}